/* ValueAtRiskModel.css */
.value-at-risk-model {
    background-color:#fc6f6f0e; /* Background color for the section */
    padding: 2rem;
    max-width: 800px;
    margin:50px auto 50px auto ;
  
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(93, 93, 93, 0.1);
  }
  
  .value-at-risk-model h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #ff6347;
  }
  
  .value-at-risk-model form {
    display: flex;
    flex-direction: column;
  }
  
  .value-at-risk-model label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .value-at-risk-model textarea,
  .value-at-risk-model input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
  }
  
  .value-at-risk-model textarea {
    resize: vertical; /* Allows vertical resizing of the textarea */
    min-height: 150px;
  }
  
  .value-at-risk-model button {
    background-color: #ff7f50; /* Button background color */
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .value-at-risk-model button:hover {
    background-color: #ff6347; /* Button hover color */
  }
