.footer {
    background-color: #ff7f50; /* footer background color */
    color: #666666; /* text color */
    padding: 1.5rem 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    color: #fcfafa;
    text-align: center;
  }
  
  .footer-note {
    color:#ffffff;
    font-size: 0.75rem;
    margin-top: 0.5rem;
  }
  